$COLOUR_BRAND_PRIMARY: #3498db;
$DEFAULT_PADDING_MARGIN: 0;
$DEFAULT_PADDING_MARGIN_10: 10px;
$DEFAULT_PADDING_MARGIN_20: 20px;

.add-fav {
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
}

.app-container {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 90%;
}

.app-header {
    background-color: $COLOUR_BRAND_PRIMARY;
    box-sizing: border-box;
    height: 40px;
    padding: $DEFAULT_PADDING_MARGIN_10;
    width: 100%;

    > h1 {
        color: white;
        font-size: 20px;
    }
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: $DEFAULT_PADDING_MARGIN;
    padding: $DEFAULT_PADDING_MARGIN;
}

button,
input[button] {
    background: transparent none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: $DEFAULT_PADDING_MARGIN_10;
}

h1, h2, h3, h4, p, ul, li, span, img {
    margin: $DEFAULT_PADDING_MARGIN;
    padding: $DEFAULT_PADDING_MARGIN;
}

.mission-list {
    list-style: none;
    padding: $DEFAULT_PADDING_MARGIN_10;

    > li {
        border-bottom: 1px solid grey;
        margin-bottom: $DEFAULT_PADDING_MARGIN_10;
        padding: $DEFAULT_PADDING_MARGIN_10;

        > ul {
            display: table;
            list-style: none;

            > li {
                display: table-cell;
                padding-left: $DEFAULT_PADDING_MARGIN_10;

                &:first-child {
                    width: 40px;
                }

                &:nth-child(2) {
                    width: 220px;
                }

                &:nth-child(3) {
                    width: 80px;
                }

                > img {
                    height: 40px;
                    margin-right: 10px;
                    vertical-align: middle;
                    width: auto;
                }
            }
        }
    }
}

.mission-list-toolbar {
    box-sizing: border-box;
    display: grid;
    height: auto;
    padding: $DEFAULT_PADDING_MARGIN_10;
    width: 100%;
}

.mission-loader {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    box-sizing: border-box;
    height: 120px;
    margin: 0 auto;
    width: 120px;
}

.mission-loader-container {
    background-color: white;
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding-top: 120px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.mission-name {
    font-size: 18px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mission-search {
    box-sizing: border-box;
    padding: $DEFAULT_PADDING_MARGIN_10;
}

.star {
    aspect-ratio: 2;
    background: #F8CA00;
    clip-path: polygon(30% 0,
            calc(30%*(1 + sin(.4turn))) calc(30%*(1 - cos(.4turn))),
            calc(30%*(1 - sin(.2turn))) calc(30%*(1 - cos(.2turn))),
            calc(30%*(1 + sin(.2turn))) calc(30%*(1 - cos(.2turn))),
            calc(30%*(1 - sin(.4turn))) calc(30%*(1 - cos(.4turn)))
    );
    min-width: 40px;
}